<!DOCTYPE html>
<html lang="es">

<!-- Head -->

<head>
	<link rel="stylesheet" href="/css/login.css">
</head>
<%- include ('../partials/head') %>

	<body>
		<!-- Header -->
		<%- include ('../partials/header') %>

			<main class="formulario">
				<div class="errores">
					<ul>

					</ul>
				</div>
				<div class="form">
					<% if (locals.errorsValidation) { errorsValidation.forEach(error=> { %>
						<h2>
							<% error.msg %>
						</h2>
						<% }) } %>
							<form class="form-login" action="/users/login" method="POST">
								<h3>Email</h3>
								<label for="email"></label><br>
								<input type="text" id="email" name="email"><br>
								<% if (locals.errors && errors.email) { %>
									<p>
										<%= errors.email.msg %>
									</p>
									<% } %>
										<br><br>
										<h3>Contraseña</h3>
										<label for="password"></label><br>
										<input type="password" id="password" name="password"><br><br>
										<input type="checkbox" class="check-box" name="recordar"><span>Recuerdame</span>
										<p>
											<a href="/users/register"><strong>¿No tienes cuenta?</strong></a><br><br>
										</p>
										<p class="btn-login">
											<button type="submit"><span class="text-btn">Iniciar sesión</span></button>
										</p>
										<% if (locals.errors && errors.auth) { %>
											<p>
												<%= errors.auth.msg %>
											</p>
											<% } %>
							</form>
				</div>
			</main>

			<!-- Footer -->
			<%- include('../partials/footer') %>

				<script src="/js/users/login.js"></script>
	</body>

</html>