<!DOCTYPE html>
<html lang="es">

<!-- Head -->

<head>
	<link rel="stylesheet" href="/css/login.css">
</head>
<%- include ('../partials/head') %>

	<body>
		<!-- Header -->
		<%- include ('../partials/header') %>

			<main class="formulario">

				<div class="form">
					<form action="/users/login" method="POST">
						<label for="email">Email</label><br>
						<input type="text" name="email"><br>
						<% if (locals.errors && errors.email) { %>
							<p>
								<%= errors.email.msg %>
							</p>
							<% } %>
								<br><br>
								<label for="password">Contraseña</label><br>
								<input type="password" name="password"><br><br>
								<input type="checkbox" class="check-box" name="recordar"><span>Recuerdame</span>
								<p>
									<a href="/users/register"><strong>¿No tienes cuenta?</strong></a><br><br>
								</p>
								<p class="btn-login">
									<button type="submit"><span class="text-btn">Iniciar sesión</span></button>
								</p>
								<% if (locals.errors && errors.auth) { %>
									<p>
										<%= errors.auth.msg %>
									</p>
									<% } %>
					</form>
				</div>
			</main>

			<!-- Footer -->
			<%- include('../partials/footer') %>
	</body>

</html>