<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include ('../partials/head') %>

    <body>
        <!-- Header -->
        <%- include ('../partials/header') %>
        <% if(locals.usuario) { %>

            <main>
                <section class="mainproduct"> 
                    <h3 class="title-product"> <%= user.first_name %> <%= user.last_name %> </h3>
                    <img src="/images/users/<%= user.imgPerfil %>" alt="user" class="main-img">
                    <div class="characteristic">
                        <h4> Tipo de Usuario </h4>
                        <p><%= user.category %></p>
                    </div>
                </section>
            </main>
            <% } else { %>
                <h3>Acceso Denegado</h3>
            <% } %>

            <!-- Footer -->
            <%- include('../partials/footer') %>
    </body>

</html>