<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include ('../partials/head') %>

    <body>
        <!-- Header -->
        <%- include ('../partials/header') %>

            <main>
                <section class="mainproduct"> 
                    <h3 class="title-product"> <%= user.name %> <%= user.lastname %> </h3>
                    <img src="/images/users/<%= user.image %>" alt="user" class="main-img">
                    <div class="characteristic">
                        <h4> Email </h4>
                        <p><%= user.email %></p>
                        <h4> Tipo de Usuario </h4>
                        <p><%= user.roles_id %></p>
                    </div>
                </section>
            </main>

            <!-- Footer -->
            <%- include('../partials/footer') %>
    </body>

</html>