<!DOCTYPE html>
<html lang="es">
<!-- Head -->

<head>
    <link rel="stylesheet" href="/css/userEdit.css">
</head>
<%- include ('../partials/head') %>

    <body>
        <!-- Header -->
        <%- include ('../partials/header') %>
            <main class="formulario">
                <div class="errores">
                    <ul>

                    </ul>
                </div>
                <div class="form">
                    <div>
                        <h2>Editar usuario</h2>
                        <br>
                        <h1>
                            <%= user.name %>
                            <%= user.lastname %> 
                        </h1>
                        <br>
                        <div>
                            <img src="/images/users/<%= user.image %>" class="userImage">
                        </div>
                    </div><br>
                    <form action="/users/userEdit/<%= user.id %>?_method=PUT" method="POST"
                        enctype='multipart/form-data'>

                        <div>
                            <label for="name">Nombres</label><br><br>
                            <input type="text" name="name" value='<%= user.name %>' required>
                        </div><br>
                        <div>
                            <label for="lastname">Apellidos</label><br><br>
                            <input type="text" name="lastname" value='<%= user.lastname %>' required>
                        </div><br>
                        <div>
                            <label for="email">Correo electrónico</label><br><br>
                            <input type="email" name="email" value='<%= user.email %>' required>
                        </div><br>
                        <div>
                            <label for="password">Contraseña</label><br><br>
                            <input type="password" name="password" required>
                        </div><br>
                        <div>
                            <label for="role">Perfil</label><br><br>
                            <select name="role" value='<%= user.roles_id %>' required="true">
                                <option value="" selected disabled>Seleccione un perfil</option>
                                <option value="1">Administrador</option>
                                <option value="2">Cliente</option>
                            </select>
                        </div><br>
                        <div>
                            <p>
                            <h3>Foto de Perfil</h3>
                            </p>
                        </div>
                        <p class="image-load">
                            <input type="file" name="image" accept=".jpg,.png" value='<%= user.image %>' required>
                        </p>
                        <p class="btn-login">
                            <button type="submit"> Actualizar </button>
                        </p>
                    </form>
                </div>

            </main>

            <!-- Footer -->
            <%- include('../partials/footer') %>
    </body>

</html>