<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include ('../partials/head') %>

	<head>
		<link rel="stylesheet" href="/css/userDetail.css">
	</head>

	<body>
		<!-- Header -->
		<%- include ('../partials/header') %>

			<main>
				<div class="userDetail">
					<h2 class="title-user">
						<%= user.name %>
							<%= user.lastname %>
					</h2>
					<div class="infoSide">

						<div class="img">
							<img src="/images/users/<%= user.image %>" alt="user image" class="main-img">
						</div>

						<div class="info">
							<div class="field-info">
								<h4> Correo electrónico: </h4>
								<p> <%= user.email %> </p>
							</div>
							<div class="field-info">
								<h4> Tipo de Usuario: </h4>
								<p> <%= user.role.roleName %> </p>
							</div>
						</div>

					</div>
			</main>

			<!-- Footer -->
			<%- include('../partials/footer') %>
	</body>

</html>