<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="/css/cards.css">
</head>

<!-- Head -->
<%- include ('../partials/head') %>

    <body>
        <!-- Header -->
        <%- include ('../partials/header') %>
            <main>
                <div class="contenido">
                    <h1> Lo más vendido </h1>
                    <div class="container">
                        <% products.forEach(product=> { %>
                            <div class="wrapper">
                                <div class="card ">
                                    <img style="max-width: 300px;" src="/images/products/<%= product.image %>"
                                        alt="armadillo">
                                    <div class="info">
                                        <h1>
                                            <%= product.name %>
                                        </h1>
                                        <p>
                                            <%= product.description %>
                                        </p>
                                        <a href="/products/productDetail/<%= product.id %>" class="btn">Read more</a>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
                <section class="regions">
                    <h1>Regiones</h1>

                    <div class="regionCard" style="--i:url(/images/andina.jpg)">
                        <article class="content">
                            <h4>Región Andina</h4>
                            <p class="description-region">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Esse,
                                quae dolor est perspiciatis ratione.</p>
                        </article>
                    </div>

                    <div class="regionCard" style="--i:url(/images/caribe.jpg)">
                        <article class="content">
                            <h4>Región Caribe</h4>
                            <p class="description-region">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Esse,
                                quae dolor est perspiciatis ratione.</p>
                        </article>
                    </div>

                    <div class="regionCard" style="--i:url(/images/pacifica.jpg)">
                        <article class="content">
                            <h4>Región Pacífica</h4>
                            <p class="description-region">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Esse,
                                quae dolor est perspiciatis ratione.</p>
                        </article>
                    </div>

                    <div class="regionCard" style="--i:url(/images/orinoquia.jpg)">
                        <article class="content">
                            <h4>Región de la Orinoquía</h4>
                            <p class="description-region">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Esse,
                                quae dolor est perspiciatis ratione.</p>
                        </article>
                    </div>

                    <div class="regionCard" style="--i:url(/images/amazonica.jpg)">
                        <article class="content">
                            <h4>Región de la Amazonía</h4>
                            <p class="description-region">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Esse,
                                quae dolor est perspiciatis ratione.</p>
                        </article>
                    </div>

                    <div class="regionCard" style="--i:url(/images/insular.jpg)">
                        <article class="content">
                            <h4>Región Insular</h4>
                            <p class="description-region">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Esse,
                                quae dolor est perspiciatis ratione.</p>
                        </article>
                    </div>


                </section>
            </main>

            <!-- Footer -->
            <%- include('../partials/footer') %>
    </body>

</html>