<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="/css/cards.css">
</head>

<!-- Head -->
<%- include ('../partials/head') %>

    <body>
        <!-- Header -->
        <%- include ('../partials/header') %>

            <main>
                <div class="contenedor-masvendido">
                    <section class="masvendido">
                        <h3> Lo más vendido </h3>
                        <% products.forEach(product=> { %>
                            <div class="card-container">
                                <div class="card">
                                    <div class="face face1">
                                        <div class="content">
                                            <h2><%= product.name %> </h2>
                                            <p> <%= product.description %></p>
                                        </div>
                                    </div>
                                    <div class="face face2">
                                        <h2><%= product.id %></h2>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </section>
                </div>
                
                

                <section class="regions">
                    <h3>Regiones</h3>
                    <article class="andina">
                        <h4>Región Andina</h4>
                        <p class="description-region">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse,
                            quae dolor est perspiciatis ratione.</p>
                    </article>
                    <article class="caribe">
                        <h4>Región Caribe</h4>
                        <p class="description-region">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse,
                            quae dolor est perspiciatis ratione.</p>
                    </article>
                    <article class="pacifica">
                        <h4>Región Pacífica</h4>
                        <p class="description-region">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse,
                            quae dolor est perspiciatis ratione.</p>
                    </article>
                    <article class="orinoquia">
                        <h4>Región de la Orinoquía</h4>
                        <p class="description-region">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse,
                            quae dolor est perspiciatis ratione.</p>
                    </article>
                    <article class="amazonica">
                        <h4>Región de la Amazonía</h4>
                        <p class="description-region">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse,
                            quae dolor est perspiciatis ratione.</p>
                    </article>
                    <article class="insular">
                        <h4>Región Insular</h4>
                        <p class="description-region">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse,
                            quae dolor est perspiciatis ratione.</p>
                    </article>

                </section>
            </main>

            <!-- Footer -->
            <%- include('../partials/footer') %>
    </body>

</html>