<!DOCTYPE html>
<html lang="es">

<head>
	<link rel="stylesheet" href="/css/cards.css">
</head>

<!-- Head -->
<%- include ('../partials/head') %>

	<body>
		<!-- Header -->
		<%- include ('../partials/header') %>
			<main>
				<div class="contenido">
					<div class="title">
						<h1> Lo más vendido </h1>
					</div>
					<div class="container">
						<% products.forEach(product=> { %>
							<div class="card ">
								<img style="max-width: 300px;" src="/images/products/<%= product.picture %>" alt="product_img"
									class="product_img">
								<div class="info">
									<h1>
										<%= product.name %>
									</h1>
									<p>
										<%= product.description %>
									</p>
									<p class="price">$<%= product.price %>
									</p>
									<a href="/products/productDetail/<%= product.id %>" class="btn">Más Detalles</a>
								</div>
							</div>
							<% }) %>
					</div>
				</div>
				<section class="regions">
					<div class="title">
						<h1>Regiones</h1>
					</div>
					<div class="regionCard" style="--i:url(/images/andina.jpg)">
						<article class="content">
							<h4>Región Andina</h4>
							<p class="description-region">La región de los Andes colombianos es la más desarrollada en lo económico y
								lo social, ocupando el segundo puesto en cuanto a extensión total de todo el país.

								A esta zona de Colombia le da nombre la fastuosa cordillera de los Andes, que atraviesa la región de
								norte a sur.</p>
						</article>
					</div>

					<div class="regionCard" style="--i:url(/images/caribe.jpg)">
						<article class="content">
							<h4>Región Caribe</h4>
							<p class="description-region">La región caribe colombiana se encuentra al norte del país, cubriendo un
								área de más de 100.000 hectáreas de terreno.
								Bañada por las aguas del mar Caribe, limita al oeste con la región Pacífico, al sur con la región Andina
								y al este con su país vecino: Venezuela.
								Algunas de las ciudades más importantes de esta región son Cartagena de Indias, Barranquilla, Santa
								Marta, Riohacha o Valledupar.
							<p>
						</article>
					</div>

					<div class="regionCard" style="--i:url(/images/pacifica.jpg)">
						<article class="content">
							<h4>Región Pacífica</h4>
							<p class="description-region">La región pacífico colombiana está situada al oeste del país. Limita al
								norte con la región Caribe y con Panamá, al este con la región Andina y al sur con el vecino Ecuador.
								La ciudad más importante de esta zona es Buenaventura, ciudad portuaria situada a unas dos horas en
								coche de Cali, que se ha convertido en el gran punto de partida hacia la mayoría de enclaves costeros de
								la región.
								El clima de esta región es tropical, con algunas áreas de gran pluviosidad.</p>
						</article>
					</div>

					<div class="regionCard" style="--i:url(/images/orinoquia.jpg)">
						<article class="content">
							<h4>Región de la Orinoquía</h4>
							<p class="description-region">Esta enorme región de llanos está regada por importantes ríos como el
								Guaviare, el Arauca, el Meta o el Vichada, sin olvidarnos del más importante: El Orinoco.
								La región Orinoquía también se conoce como los Llanos Orientales. Limita al oeste con la región Andina,
								al sur con la región Amazonía y al norte y al este con Venezuela.
								Estos terrenos son de una gran riqueza natural, siendo la ganadería, la agricultura y la explotación
								petrolífera las mayores fuentes de ingresos de la Orinoquía.
							</p>
						</article>
					</div>

					<div class="regionCard" style="--i:url(/images/amazonica.jpg)">
						<article class="content">
							<h4>Región de la Amazonía</h4>
							<p class="description-region">Esta es la región más extensa de todo el país, más del 40% del conjunto de
								Colombia es para un territorio enigmático, insólito y que todavía se considera un diamante en bruto por
								pulir, sobre todo en el plano turístico.
								Porque esta región no la forman solamente Leticia, Puerto Nariño y las comunidades indígenas
								colindantes, también la conforman el vasto territorio de Putumayo con Mocoa a la cabeza.
								La región del Amazonas limita al norte con la Orinoquía, separados por la marca natural del río
								Guaviare, al este con Venezuela y al sur con Ecuador, Brasil y Perú.</p>
						</article>
					</div>

					<div class="regionCard" style="--i:url(/images/insular.jpg)">
						<article class="content">
							<h4>Región Insular</h4>
							<p class="description-region">
								Esta región está compuesta por todas las islas que forman parte de Colombia.
								San Andrés, Providencia, Corales del Rosario, Gorgona, Gorgonilla o Malpelo son algunas de las más
								importantes. Las tres primeras están situadas en el mar Caribe y el resto en la costa del pacífico
								colombiano.
								Estas islas son auténticos paraísos para los amantes de la vida playera. No en vano, esta región insular
								tiene como principal motor económico el turismo.
							</p>
						</article>
					</div>


				</section>
			</main>

			<!-- Footer -->
			<%- include('../partials/footer') %>
	</body>

</html>