<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include ('../partials/head') %>

    <body>
        <!-- Header -->
        <%- include ('../partials/header') %>

            <!-- todos los productos -->
            <div class="allproducts">
                <div>
                    <div>
                        <h2>Todos los productos</h2>
                    </div>
                    <table>
                        <thead>
                            <td>id</td>
                            <td>Nombre</td>
                            <td>Precio</td>
                            <td>Región</td>
                            <td>Acciones</td>
                            <td><button> Crear nuevo</button></td>
                        </thead>
                        <tbody>
                            <% products.forEach(product=> { %>
                                <tr>
                                    <td>
                                        <%= product.id %>
                                    </td>
                                    <td>
                                        <%= product.name %>
                                    </td>
                                    <td>
                                        <%= product.price %>
                                    </td>
                                    <td>
                                        <%= product.category %>
                                    </td>
                                    <td>
                                        <a href="./productDetail/<%= product.id %>" class="info">Detalle</a>
                                        <a href="./productEdit/<%= product.id %>" class="edit">Editar</a>

                                        <form action="./products/<%= product.id %>?_method=DELETE" method="post">
                                            <p>
                                                <button>Borrar</button>
                                            </p>
                                        </form>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>

                    </table>
                </div>
            </div>
            <!-- Footer -->
            <%- include('../partials/footer') %>
    </body>

</html>