<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include ('../partials/head') %>

	<head>
		<link rel="stylesheet" href="/css/productDetail.css">
	</head>

	<body>
		<!-- Header -->
		<%- include ('../partials/header') %>

			<main class="mainProduct">
				<div class="productDetail">
					<h1 class="title-product">
						<%= product.name %>
					</h1>
		
					<div class="infoSide">
						<div class="imgSide">
							<img src="/images/products/<%= product.picture %>" alt="product_img" class="main-img">
						</div>
						<div class="grid-detail">
							<div class="field-text">
								<h4> Precio </h4>
								<p> $<%= product.price %> COP </p>
							</div>
							<div class="field-text">
							<h4>Descripción</h4>
							<p>
								<%= product.description %>
							</p>
						</div>
						<div class="field-text">
							<h4> Región</h4>
							<p>
								<%= product.region.region %>
							</p>
						</div>
						<div class="field-text">
							<h4> Cantidad </h4>
							<select name="Cantidad" id="quantity">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
						
						<button type="button" class="add"> Agregar al carrito</button>
					</div>
					</div>
			</main>

			<!-- Footer -->
			<%- include('../partials/footer') %>
	</body>

</html>