<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include ('../partials/head') %>

    <body>
    <!-- Header -->
    <%- include ('../partials/header') %>

    <main>
        <section class="masvendido">
            <h3> Productos </h3>
            <% products.forEach(product => { %>
            <article class="products">
                <h4> <%= product.name %> </h4>
                <img src="/images/<%= product.image %> " alt="Canasto-iraca" class="product_img">
                <p class="description"><%= product.description %>  </p>
                <p class="price">$<%= product.price %>  </p>
                <a href="/productDetail/<%= product.id %>">Ver más</a>
            </article>
            <% }) %>   
        </section>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer') %>
    </body>

</html>