<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include ('../partials/head') %>

    <head>
        <link rel="stylesheet" href="/css/products.css">
    </head>

    <body>
        <!-- Header -->
        <%- include ('../partials/header') %>

            <!-- todos los productos -->
            <div class="allProducts">
                <div>
                    <div>
                        <h2>Todos los productos</h2>
                    </div><br><br>
                    <% products.forEach(product=> { %>
                        <div class="productContainer">
                            <div class="infoProduct">
                                <img src="/images/products/<%= product.image%>" alt="">
                                <div class="nameProduct">
                                    <p><strong>
                                            <%= product.name %>
                                        </strong></p>
                                </div>
                            </div>
                            <div class="btnsCRUD">
                                <div class="btn">
                                    <a href="./products/productDetail/<%= product.id %>" class="info">Detalle</a>
                                </div>
                                <div class="btn">
                                    <a href="./products/productEdit/<%= product.id %>" class="edit">Editar</a>
                                </div>
                                <div class="btn">
                                    <form action="products/<%= product.id %>?_method=DELETE" method="POST">
                                        <div>
                                            <button>Eliminar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <% }) %>

                </div>
            </div>
            <!-- Footer -->
            <%- include('../partials/footer') %>
    </body>

</html>